#restaurantCommentList {
    padding: 8px 32px 8px 32px;
}

.comment {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 10px;
}

.comment .comment-header {
    font-size: 22px;
    color: #818181;
}

.comment .comment-header .comment-author {
    font-weight: bold;
}

.comment .comment-header .comment-date {
    font-size: 18px;
}

.comment .comment-header a {
    padding: 0;
    display: inline;
    text-decoration: none;
    font-size: 22px;
    color: #818181;
    transition: 0.3s;
}

.comment .comment-content {
    font-size: 18px;
    color: #818181;
}
