.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10000;
    right: 0;
    top: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav dt {
    padding: 2px 2px 2px 32px;
    font-size: 23px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav dd {
    padding: 2px 2px 2px 32px;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav dd a {
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a.btn {
    padding: 8px 8px 8px 8px;
    margin: 8px 8px 8px 8px;
    color: white;
}

.sidenav h1 {
    padding: 8px 8px 8px 8px;
    color: #818181;
    display: block;
}

.sidenav .center {
    display: flex;
    display: -webkit-flex; /* Safari 8 */
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;         /* Safari 8 */
    justify-content: center;
    -webkit-justify-content: center;       /* Safari 8 */
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
    margin-right: 50px;
}

#map {
    transition: width .5s;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}