html, body {
    min-height: 0 !important;
    height: 100% !important;
    margin: 0 !important;
}

#wrapper {
    min-height: 100% !important;
}

#map {
    overflow: hidden;
    top: 0;
    left: 0;
}

.margin-bottom-0 {
    margin-bottom: 0px !important;
}