html, body {
    min-height: 0 !important;
    height: 100% !important;
    margin: 0 !important;
}

#wrapper {
    min-height: 100% !important;
}

#map {
    top: 0;
}

.margin-bottom-0 {
    margin-bottom: 0px !important;
}

.margin-top-20 {
    margin-top: 20px !important;
}