var map = null;
var markers = [];
var selectedMarker = null;

var selectedMarkerOption = {
    icon: {
        path: [
            new naver.maps.Point(0, 70), new naver.maps.Point(20, 100), new naver.maps.Point(40, 70),
            new naver.maps.Point(30, 70), new naver.maps.Point(70, 0), new naver.maps.Point(10, 70)
        ],
        style: "closedPath",
        anchor: new naver.maps.Point(23, 103),
        fillColor: '#ff0000',
        fillOpacity: 1,
        strokeColor: '#000000',
        strokeStyle: 'solid',
        strokeWeight: 3
    },
    shadow: {
        url: "/static/food-map/image/shadow-arrow.png",
        size: new naver.maps.Size(193, 128),
        origin: new naver.maps.Point(0, 0),
        anchor: new naver.maps.Point(62, 120)
    }
}

function initMap() {
    var mapOptions = {
        center: new naver.maps.LatLng(37.5157873, 127.0991124),
        minZoom: 10,
        maxBounds: new naver.maps.LatLngBounds(new naver.maps.LatLng(37.491717, 127.039901), new naver.maps.LatLng(37.553497, 127.172326)),
        zoom: 12
    };
    map = new naver.maps.Map('map', mapOptions);

    var recognizer = new MarkerOverlapRecognizer({
        highlightRect: false,
        tolerance: 5
    });

    recognizer.setMap(map);

    var bounds = map.getBounds(),
        southWest = bounds.getSW(),
        northEast = bounds.getNE(),
        lngSpan = northEast.lng() - southWest.lng(),
        latSpan = northEast.lat() - southWest.lat();


    var companyMarkerOptions = {
        position: new naver.maps.LatLng(37.5157873, 127.0991124),
        icon: '{{ url_for('static', filename='food-map/image/company.png') }}',
        map: map
    };
    new naver.maps.Marker(companyMarkerOptions);

    {% for restaurant in restaurants %}
    {
        var marker = new naver.maps.Marker({
            position: new naver.maps.LatLng({{ restaurant.location[1] }}, {{ restaurant.location[0] }}),
            map: map,
            title: '{{ restaurant.name }}',
            animation: naver.maps.Animation.DROP
        });

        marker.addListener('click', function(e) {
            $.ajax({
                url:'/restaurants/{{ restaurant.id }}'
            }).done(function(view) {
                if (selectedMarker !== null) {
                    selectedMarker.setIcon(null);
                    selectedMarker.setShadow(null);
                }
                selectedMarker = e.overlay;
                selectedMarker.setIcon(selectedMarkerOption.icon);
                selectedMarker.setShadow(selectedMarkerOption.shadow);
                selectedMarker.setZIndex(1000);

                $('#restaurantDetailContent').empty();
                $('#restaurantDetailContent').append(view);
                openSideSlide();

                map.panTo(new naver.maps.LatLng({{ restaurant.location[1] }}, {{ restaurant.location[0] }}));
            }).fail(function() {
                toastr.error('개발자에게 연락주세요 흑흑', '실패했습니다!', {"positionClass": "toast-bottom-center"})
            });
        });

        recognizer.add(marker);

        window.MARKER = marker;

        markers.push(marker);
    }
    {% endfor %}

    naver.maps.Event.addListener(recognizer, 'clickItem', function(e) {
        recognizer.hide();
    });

/*
    var clusteringMarker = {
        content: '<div style="cursor:pointer;width:40px;height:40px;line-height:42px;font-size:10px;color:white;text-align:center;font-weight:bold;background:url(/static/food-map/image/cluster-marker.png);background-size:contain;"></div>',
        size: N.Size(40, 40),
        anchor: N.Point(20, 20)
    }

    var markerClustering = new MarkerClustering({
        minClusterSize: 2,
        maxZoom: 15,
        map: map,
        markers: markers,
        disableClickZoom: false,
        gridSize: 120,
        icons: [clusteringMarker],
        indexGenerator: function(count) {
            return 0;
        },
        stylingFunction: function(clusterMarker, count, member) {
            $(clusterMarker.getElement()).find('div:first-child').text(count);
        }
    });
*/

}
