var map = null;
var markers = [];
var selectedMarker = null;

var selectedMarkerOption = {
    icon: {
        path: [
            new naver.maps.Point(0, 70), new naver.maps.Point(20, 100), new naver.maps.Point(40, 70),
            new naver.maps.Point(30, 70), new naver.maps.Point(70, 0), new naver.maps.Point(10, 70)
        ],
        style: "closedPath",
        anchor: new naver.maps.Point(23, 103),
        fillColor: '#ff0000',
        fillOpacity: 1,
        strokeColor: '#000000',
        strokeStyle: 'solid',
        strokeWeight: 3
    },
    shadow: {
        url: "/static/food-map/image/shadow-arrow.png",
        size: new naver.maps.Size(193, 128),
        origin: new naver.maps.Point(0, 0),
        anchor: new naver.maps.Point(62, 120)
    }
}

function initMap() {
    var mapOptions = {
        center: new naver.maps.LatLng(37.5157873, 127.0991124),
        minZoom: 10,
        maxBounds: new naver.maps.LatLngBounds(new naver.maps.LatLng(37.491717, 127.039901), new naver.maps.LatLng(37.553497, 127.172326)),
        zoom: 12
    };
    map = new naver.maps.Map('map', mapOptions);

    var companyMarkerOptions = {
        position: new naver.maps.LatLng(37.5157873, 127.0991124),
        icon: '{{ url_for('static', filename='food-map/image/company.png') }}',
        map: map
    };
    new naver.maps.Marker(companyMarkerOptions);

    {% for restaurant in restaurants %}
    {
        var marker = new naver.maps.Marker({
            position: new naver.maps.LatLng({{ restaurant.location[1] }}, {{ restaurant.location[0] }}),
            map: map,
            title: '{{ restaurant.name }}',
            animation: naver.maps.Animation.DROP
        });
        naver.maps.Event.addListener(marker, 'click', function(e) {
            $.ajax({
                url:'/restaurants/{{ restaurant.id }}'
            }).done(function(view) {
                if (selectedMarker !== null) {
                    selectedMarker.setIcon(null);
                    selectedMarker.setShadow(null);
                }
                selectedMarker = e.overlay;
                selectedMarker.setIcon(selectedMarkerOption.icon);
                selectedMarker.setShadow(selectedMarkerOption.shadow);

                $('#restaurantDetailContent').empty();
                $('#restaurantDetailContent').append(view);
                openSideSlide();

                map.panTo(new naver.maps.LatLng({{ restaurant.location[1] }}, {{ restaurant.location[0] }}));
            }).fail(function() {
                toastr.error('개발자에게 연락주세요 흑흑', '실패했습니다!', {"positionClass": "toast-bottom-center"})
            });
        });
        markers.push(marker);
    }
    {% endfor %}
}
