$(document).ready(function() {
    $('#categorySelector').confirm({
        title: '카테고리 선택',
        content: '{% include 'categories.html' %}',
        type: 'green',
        buttons: {
            ok: {
                text: '선택',
                btnClass: 'btn-primary',
                keys: ['enter'],
                action: function() {
                    $('#categorySelectForm').submit();
                }
            },
            cancel: {
                text: '취소',
                keys: ['esc']
            }
        }
    });

    $('#contactDeveloper').click(function(event) {
        $.alert({
            title: '문의사항',
            content: '{% include 'contact.html' %}',
            backgroundDismiss: true
        });
    });

    $('body').on('click', '#categoryAll', function() {
        var checked = $(this).is(":checked");
        if (checked) {
            $('#categorySelectForm input[name="categories"]').prop('checked', true);
        } else {
            $('#categorySelectForm input[name="categories"]').prop('checked', false);
        }
    });

});