<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>음식 지도</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId={{ map_client_id }}"></script>
</head>
<body>
<div id="wrapper">
    <div id="map" style="position: absolute;height: 100%;width: 100%;"></div>
</div>

<!--<script type="text/javascript" src="/static/js/map.js"></script>-->
<script>
    var mapOptions = {
    center: new naver.maps.LatLng(37.5157873, 127.0991124),
    zoom: 12
};

var map = new naver.maps.Map('map', mapOptions);

var markerOptions = {
    position: new naver.maps.LatLng(37.5157873, 127.0991124),
    map: map
};

var marker = new naver.maps.Marker(markerOptions);

var markerOptions2 = {
    position: new naver.maps.LatLng(37.5157873, 126.0991124),
    map: map
};

var marker2 = new naver.maps.Marker(markerOptions2);
</script>
</body>
</html>