{% if restaurant %}
<div id="restaurantHeader" class="center">
    <div>
        <h1>{{ restaurant.name|default('정보 없음', true) }}</h1>
    </div>
    <div class="line-break"></div>
    <div>
        <h2>{% for category in restaurant.categories|default('기타', true) %}{{ category }} {% endfor %}</h2>
    </div>
    <div class="line-break"></div>
    <div>
        <h3>
            {% if restaurant.site %}
            {{ restaurant.site|default('정보 없음', true)}}
            {% else %}
            {{ restaurant.address|default('정보 없음', true)}}
            {% endif %}
        </h3>
    </div>
</div>
<div id="restaurantFeedback" class="center">
    <button id="giveGoodFeedback" type="button" class="btn btn-primary" data-restaurant-id="{{ restaurant.id }}" data-toggle="tooltip" data-placement="bottom" title="추천하기">
        <span class="glyphicon glyphicon-thumbs-up"></span> <span id="goodFeedbackCount">{{ restaurant.good|default('0', true) }}</span>
    </button>
    <button id="giveBadFeedback" type="button" class="btn btn-danger" data-restaurant-id="{{ restaurant.id }}" data-toggle="tooltip" data-placement="bottom" title="비추천하기">
        <span class="glyphicon glyphicon-thumbs-down"></span> <span id="badFeedbackCount">{{ restaurant.bad|default('0', true) }}</span>
    </button>
</div>
<div class="margin-top-20"></div>
<div id="restaurantInfo">
    <dl class="dl-horizontal">
        <dt>참고링크</dt>
        <dd>
            {% if restaurant.url %}
                <a href="{{ restaurant.url }}">{{ restaurant.url }}</a>
            {% else %}
                정보 없음
            {% endif %}
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>가격대</dt>
        <dd>{{ restaurant.price|default('정보 없음', true) }}</dd>
    </dl>
</div>
<div class="line-break"></div>
<hr>
<div id="restaurantComment">
    <div id="restaurantCommentRegister">
        <div class="form-group">
            <form id="commentRegisterForm" action="/restaurants/{{ restaurant.id }}/comments" method="post">
                <fieldset>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="hidden" name="password" value="1234"/>
                    <textarea class="form-control" name="content" rows="3" required></textarea>
                    <button type="submit" class="btn btn-primary">댓글달기</button>
                </fieldset>
            </form>
        </div>
    </div>
    <div id="restaurantCommentList">
        {% with comments=restaurant.comments %}
        {% include 'comment-group.html' %}
        {% endwith %}
    </div>
</div>
{% endif %}
