{% if restaurant %}
<div id="restaurantHeader" class="center">
    <div>
        <h1>{{ restaurant.name|default('정보 없음', true) }}</h1>
    </div>
    <div class="line-break"></div>
    <div>
        <h2>{% for category in restaurant.categories|default('미분류', true) %}{{ category }} {% endfor %}</h2>
    </div>
    <div class="line-break"></div>
    <div>
        <h3>
            {% if restaurant.site %}
            {{ restaurant.site|default('정보 없음', true)}}
            {% else %}
            {{ restaurant.address|default('정보 없음', true)}}
            {% endif %}
        </h3>
    </div>
</div>
<div id="restaurantFeedback" class="center">
    <a id="giveGoodFeedback" class="btn btn-primary" href="#" data-restaurant-id="{{ restaurant.id }}"><span class="glyphicon glyphicon-thumbs-up"></span> <span id="goodFeedbackCount">{{ restaurant.good|default('0', true) }}</span></a>
    <a id="giveBadFeedback" class="btn btn-danger" href="#" data-restaurant-id="{{ restaurant.id }}"><span class="glyphicon glyphicon-thumbs-down"></span> <span id="badFeedbackCount">{{ restaurant.bad|default('0', true) }}</span></a>
</div>
<div id="restaurantInfo">
    <dl>
        <dt>참고 링크</dt>
        <dd>
            {% if restaurant.url %}
                <a href="{{ restaurant.url }}">{{ restaurant.url }}</a>
            {% else %}
                정보 없음
            {% endif %}
        </dd>
    </dl>
    <dl>
        <dt>가격대</dt>
        <dd>{{ restaurant.price|default('정보 없음', true) }}</dd>
    </dl>
</div>
<div class="line-break"></div>
<div id="restaurantComment">
    <div id="restaurantCommentList">
        {% with comment=restaurant.comment %}
        {% include 'comment-group.html' %}
        {% endwith %}
    </div>
    <div id="restaurantCommentRegister">
        <div class="form-group">
            <form action="/restaurant/{{ restaurant.id }}/comments" method="post">
                <fieldset>
                    <textarea class="form-control" name="content" rows="3"></textarea>
                    <button type="submit" class="btn btn-primary">입력하기</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endif %}
